services:
  mysql:
    image: mariadb:11.4
    logging:
      driver: none
    command: ["--max-allowed-packet=512M"]
    volumes:
      - "/srv/litespeed/data/db:/var/lib/mysql:delegated"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
  litespeed:
    # image: litespeedtech/openlitespeed:${OLS_VERSION}-${PHP_VERSION}
    build: ./custom
    container_name: litespeed
    volumes:
      - /srv/litespeed/lsws/conf:/usr/local/lsws/conf
      - /srv/litespeed/lsws/admin-conf:/usr/local/lsws/admin/conf
      - /srv/litespeed/bin/container:/usr/local/bin
      - /srv/litespeed/sites:/var/www/vhosts/
      - /srv/litespeed/acme:/root/.acme.sh/
      - /srv/litespeed/logs:/usr/local/lsws/logs/
    environment:
      TZ: ${TimeZone}
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.whmcsv2.loadbalancer.server.port=80"
    ports:
      - 8893:80
      - 8822:22
      - 7080:7080
  phpmyadmin:
    image: phpmyadmin:${PHPMYADMIN_VERSION}
    environment:
        PMA_HOST: mysql
    restart: always
  redis:
    image: "redis:alpine"
    logging:
      driver: none
    # command: redis-server --requirepass 8b405f60665e48f795752e534d93b722
    volumes:
      - /srv/litespeed/redis/data:/data
      - /srv/litespeed/redis/redis.conf:/usr/local/etc/redis/redis.conf
    environment:
      - REDIS_REPLICATION_MODE=master
